*{
    margin : 0;
    padding: 0;
    box-sizing: border-box ;
}
body{
    font-family: sans-serif;
    background: #eefcff;
}
h1,h2,h3,h4,p{
    margin: 0;
}

/* Reusable classes */
.container{
    width: 1024px;
    margin: 0 auto;
    padding:0 15px;
}
.title{
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}
.user_section{
    padding: 50px 0;
}
.user_wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.single_user{
    background: #fff;
    padding:30px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(51, 51, 51, 0.3);
}
.single_user h3{
    color:#007efc;
    margin-bottom: 20px;
}
.age_gender{
    background: gray;
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.single_user p{
    padding: 10px;
    font-size: 16px;
    background: #a7e1c5;
}

.profile-pic {
    width: 50px;
    margin-bottom: 20px;
}
@media screen and(max-width:768px ) {
    .container {
        width: 98%;

    }
    
}

@media screen and (max-width: 576px){
    .user_Wrapper {
        grid-template-columns:repeat(1, 1fr) ;
    }

}
